<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

<main>
  <h1>Poll App</h1>
  <% if (user) { %>
    <h2>Welcome back, <%=user.profile.name%>!</h2>
  <% } %>
</main>

<%- include('./partials/footer') %>
