<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/polls/new.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div class="sub-title">Please provide your poll information and submit!</div>
  <div class="poll-form">
    <!-- ADD POLL FORM -->
    <form id="poll-form" action="" method="POST"></form>

    <!-- QUESTION FIELD -->
    <label form="poll-form" for="question-field">
      <span>Question:</span>
      <input type="text" name="question-field"/>
    </label>
    

    <!-- SELECT TOPIC FIELD -->
    <label form="poll-form" for="topic-field"><span>Topic:</span>

      <select name="topic-field" class="topic-select">
        <option value="General">General</option>
        <option value="Relationships">Relationships</option>
        <option value="Would You Rather">Would You Rather</option>
        <option value="Funny">Funny</option>
      </select>
    
    </label>
     
    <!-- ADD DESCRIPTION FIELD -->
    <label form="poll-form" for="description-field">
      <span>Description:</span>
      <textarea name="description-field" class="description-textarea">
      </textarea>
    </label>

    <!-- CHOICES LIST -->
    <!-- <label form="poll-form"><span>Choices:</span>
      <ul>
      
      </ul>
    </label> -->

    <!-- ADD CHOICE FORM -->
    <!-- <form id="choices-form" action="/polls/new" method="POST"></form> -->

    <!-- <label form="choices-form" for="add-choice-field">
      <span>Choice Text:</span>
      <input type="text" name="add-choice-field" class="add-choice-field"/>
      <a href="">
        <button class="add-choice-btn">Add Choice</button>
      </a>
    </label> -->
    
    <label form="poll-form" for="question-field">
      <span> Choices: 
        <span style="color: rgb(194, 194, 194); font-size: 12px; font-weight: normal;">
          (separate <br> by commas)
        </span>
      </span>
      <input type="text" name="question-field"/>
    </label>
    

    <!-- ADD POLL BUTTON -->
    <a href="">
      <button form="poll-form" class="add-poll-btn" type="submit">Add Poll</button>
    </a>
    
    </div>
</main>

<%- include('../partials/footer') %>