
h1 {
  display: flex;
  justify-content: center;
}

div{
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}


label, input, textarea {
  height: 25px;
}

